{{ define "main" }}
    <div class="entry-content">
        {{- .Content -}}
    </div>

    {{/* Render taxonomies with a matching prefix, but not on the home page */}}
    {{- if $.Section -}}
    {{- partial "taxonomy-list.html" . -}}
    {{- end -}}

    <h1>Recent Photos</h1>

    <div class="imageGallery2">
        {{ range $index, $photo := (first 50 (sort $.Site.Data.flickr.photos "id" "desc")) }}
            <a data-fancybox="gallery" data-fancybox-index="{{ $index }}" data-caption="{{ default $photo.title $photo.description }}" data-flickr="{{ $photo.page }}" href="{{ $photo.thumbnails.large }}">
                <img class="img-rounded" src="{{ $photo.thumbnails.small }}" />
            </a>
        {{ end }}
        
    </div>

    <h1>Photosets</h1>
    <ul>
        {{- range .Pages -}}
        <li>
            {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
{{- end -}}
