{{ define "main" }}
    <div class="entry-content">
        {{- .Content -}}
    </div>

    HELLO WORLD

    {{/* Render taxonomies with a matching prefix, but not on the home page */}}
    {{- if $.Section -}}
    {{- partial "taxonomy-list.html" . -}}
    {{- end -}}

    <h1>Recent Photos</h1>

    {{- $photos := first 10 (sort $.Site.Data.flickr.photos "id" "desc") -}}
    {{- $photoCount := $photos | len -}}
    {{- $columnCount := 4 -}}
    {{- $columnSize := int (math.Ceil (div (mul 1.0 $photoCount) $columnCount)) }}
    {{- $firstColumnExtras := sub $photoCount (mul $columnCount $columnSize) -}}
    {{- $orderRowMajor := false }}

    <div class="imageGallery">
        {{- range $columnIndex := seq 0 (sub $columnCount 1) -}}
            <div class="column">
            {{- range $rowIndex := seq 0 (sub $columnSize 1) -}}
                {{- $imageIndex := cond $orderRowMajor (add $columnIndex (mul $rowIndex $columnCount)) (add $rowIndex (mul $columnIndex $columnSize)) -}}
                {{- if (lt $imageIndex $photoCount) -}}
                    {{- $photo := index $photos $imageIndex -}}
                    <figure>
                        <a data-fancybox="gallery" data-fancybox-index="{{ $imageIndex }}" data-caption="{{ default $photo.title $photo.description }}" data-flickr="{{ $photo.page }}" href="{{ $photo.thumbnails.large }}">
                            <img class="img-rounded" src="{{ $photo.thumbnails.small }}" />
                        </a>
                        <!--
                        <figcaption>
                            {{- $photo.title -}}
                        </figcaption>
                        -->
                    </figure>
                {{- end -}}
            {{- end -}}
            </div>
        {{- end -}}
    </div>

    <h1>Photosets</h1>
    <ul>
        {{- range .Pages -}}
        <li>
            {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
    </ul>
{{- end -}}
