[submodule "static/embeds/runelang"]
	path = static/embeds/runelang
	url = https://github.com/jpverkamp/runelang
[submodule "static/embeds/--force"]
	path = static/embeds/--force
	url = https://github.com/jpverkamp/runelang
