{{-
if (or (and (strings.HasPrefix .PlainText "[")
            (strings.HasSuffix .PlainText "]")
            (eq .Destination ""))
       (and (strings.HasPrefix .Destination "[")
            (strings.HasSuffix .Destination "]")))
-}}
    {{- /*
        Crosslink of the forms:
            [[Title]]() 
            [Text]([Title])
    */ -}}

    {{- $scratch := newScratch -}}
    {{- $simpleMode := eq .Destination "" -}}
    {{- $title := replace (substr (cond $simpleMode .PlainText .Destination) 1 -1) "&rsquo;" "'"  -}}
    {{- $text := cond $simpleMode $title .PlainText -}}

    {{- $scratch.Set "crosslink-written" false -}}

    {{- range $page := .Page.Site.AllPages -}}
        {{- if (and (not ($scratch.Get "crosslink-written")) (eq $page.Title $title)) -}}
            <a href="{{ $page.Permalink }}">{{ $text }}</a>
            {{- $scratch.Set "crosslink-written" true -}}
        {{- end -}}
    {{- end -}}

    {{- if (not ($scratch.Get "crosslink-written")) -}}
    {{ errorf 
        "Markdown crosslink error in %s, simpleMode: %t, for title: %s, title: %s" 
        .Page.File.Path
        $simpleMode
        $title
        $text
    }}
    {{- end -}}

{{- else -}}
    <a href="{{ .Destination }}"{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener"{{ end }}>{{ .Text }}</a>
{{- end -}}