{{-
if (and (strings.HasPrefix .PlainText "[")
        (strings.HasSuffix .PlainText "]")
        (eq .Destination ""))
-}}
    {{- /*
        Crosslink of the forms:
            [[Title]]() 
            [[Title|Text]]()
    */ -}}

    {{- if gt (strings.Count .PlainText "|") 1 -}}
    {{ errorf "Markdown crosslink error in %s, multiple | in %s" .Page.File.Path .PlainText }}
    {{- end -}}

    {{- $scratch := newScratch -}}

    {{- $fixedText := substr .PlainText 1 -1 }}
    {{- $fixedText := (replace $fixedText "&lsquo;" "'") -}}
    {{- $fixedText := (replace $fixedText "&rsquo;" "'") -}}

    {{- $parts := split $fixedText "|"  -}}
    {{- $title := index $parts 0 -}}
    {{- $text := index $parts (sub (len $parts) 1) -}}

    {{- $scratch.Set "crosslink-written" false -}}

    {{- range $page := .Page.Site.AllPages -}}
        {{- if (and (not ($scratch.Get "crosslink-written")) (eq $page.Title $title)) -}}
            <a href="{{ $page.Permalink }}">{{ $text }}</a>
            {{- $scratch.Set "crosslink-written" true -}}
        {{- end -}}
    {{- end -}}

    {{- if (not ($scratch.Get "crosslink-written")) -}}
    {{ errorf "Markdown crosslink error in %s, for title: %s, title: %s" .Page.File.Path $title $text }}
    {{- end -}}

{{- else -}}
    <a href="{{ .Destination }}"{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener"{{ end }}>{{ .Text }}</a>
{{- end -}}