{{ define "main" }}
    <div class="entry-content">
        {{- .Content -}}
    </div>

    {{/* Render taxonomies with a matching prefix, but not on the home page */}}
    {{- if $.Section -}}
    {{- partial "taxonomy-list.html" . -}}
    {{- end -}}

    <h1>Current Lists</h1>
    <ul>
        <li><a href="/2022/04/01/2022-book-bingo/">2022 Book Bingo</a></li>
        <li><a href="/lists/2022-book-reviews/">2022 Book Reviews</a></li>
        <li><a href="/lists/2022-movie-reviews/">2022 Movie Reviews</a></li>
        <li><a href="/lists/2022-tv-reviews/">2022 TV Reviews</a></li>
    </ul>


    <h1>Recent Reviews</h1>
    <div class="cover-list">
        {{- range $i, $page := first 20 .Pages -}}
        <a href="{{ .Permalink }}">
            {{ safeHTML (index (findRE "(?m:<img.*?>)" .Content 1) 0) }}
        </a>
        {{- end -}}
    </div>

    <h1>All Reviews</h1>
    <ul>
        {{- range .Pages -}}
        <li>
            {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a> {{- partial "series.html" . -}} {{- partial "mediatype.html" . -}}
        </li>
        {{- end -}}
    </ul>
{{- end -}}
