{{ define "title" }}
    {{- if .Data.Singular -}}
        {{- replace .Data.Singular "/" ", " | title }}:
    {{ end -}}
    {{- .Title }} - {{ .Site.Title -}}
{{ end }}

{{ define "main" }}
    <h1 class="entry-title" data-pagefind-meta="title">
        {{- if .Data.Singular -}}
            {{- replace .Data.Singular "/" ", " | title }}:
        {{ end -}}
        {{- .Title }}
        {{- partial "series.html" . -}}
    </h1>

  <div class="entry-content">{{- .Content -}}</div>
  
  <div class="cover-list">
    {{- range .Pages | first 20 -}}
      {{- if isset .Params "cover" -}} 
      <figure class="cover-image">
        <a href="{{ .Permalink }}">
          <img src="{{ .Params.cover }}" />
        </a>
      </figure>
      {{- end -}}
    {{- end -}}
    {{- if gt (len .Pages) 20 -}}<br />(and more!){{- end -}}
  </div>

  <ul>
    {{- range .Pages -}}
    <li>
        {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>{{ partial
      "series.html" . }}
    </li>
    {{- end -}}
  </ul>
{{- end -}}
