{{ define "title" }}
    {{ if not (index .Params "is_review_meta") }}Review:{{ end }} {{ .Title }} – {{ .Site.Title -}}
{{ end }}

{{- define "main" -}}
<article data-pagefind-body>
	<header>
		<h1 class="entry-title" data-pagefind-meta="title">
            {{ if not (index .Params "is_review_meta") }}Review:{{ end }} {{ .Title -}}       
        </h1>

        {{- if isset .Params "reviews/series" -}}
        {{- range $i, $series := index .Params "reviews/series" }}
        <h2 class="entry-subtitle">
            Series: <a href="/reviews/series/{{ $series | urlize }}">{{- $series -}}</a>
            {{- if isset $.Params "series_index" -}}
                {{- $series_index := index (index $.Params "series_index") $i }}
                {{- if (gt $series_index 0) }}: #{{ $series_index }}{{- end -}}
            {{- end -}}
        </h2>
        {{- end -}}
        {{- end -}}

        <div class="entry-meta">
            {{- if not .Date.IsZero -}}
            <span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>
            {{- end -}}
        </div>

        <div class="entry-taxonomies">
            {{- partial "taxonomy-list.html" . -}}
        </div>
    </header>

	<div class="entry-content">
        {{- if isset .Params "cover" -}}
        <figure class="cover-image">
            <img src="{{ .Params.cover }}">
        </figure>
        {{- end -}}

        {{- .Content -}}
	</div>
</article>
{{- end -}}
