{{ define "main" }}

{{- range $index, $section := .Site.Sections -}}
{{- with $section -}}
    {{- if not (eq .Title "Other") -}}
        <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <sup>
                <a href="/{{ .Title | urlize }}/atom.xml">
                    {{- partial "rss-icon.html" (dict "size" 8 "color" "green") }}
                </a>
            </sup>
        </h2>

        <section>
        {{ .Content }}
        </section>

        <h3>Recent posts:</h3>
        <ul>
            {{- range first 10 .Pages -}}
            <li>
                {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>{{ partial "series.html" . }}
            </li>
            {{- end -}}
        </ul>

        {{- if eq $index 0 -}}
        <hr />
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- end -}}
{{ end }}