{{ define "main" }}
    <div class="entry-content">
        {{- .Content -}}
    </div>

    {{/* Render taxonomies with a matching prefix, but not on the home page */}}
    {{- if $.Section -}}
    {{- partial "taxonomy-list.html" . -}}
    {{- end -}}

    {{- if eq .Paginator.PageNumber 1 -}}
        {{- if eq .Title "Programming" -}}
            {{/* 
                This doesn't seem to be working... :(
                
                ERROR 2021/03/17 17:27:25 Failed to get JSON resource "https://api.github.com/users/jpverkamp/repos":
                Get "https://api.github.com/users/jpverkamp/repos": tls: first record does not look like a TLS handshake
            */}}{{/*
            <h1>Popular Github Repos</h1>
            <ul>
                {{- range (first 10 (sort (getJSON "https://api.github.com/users/" $.Site.Params.githubUsername "/repos") "stargazers_count" "desc")) -}}
                    <li>
                        <a href="{{ index . "html_url" }}">{{ index . "name" }}</a>
                        {{ if gt (index . "watchers_count") 0 -}}
                            {{ index . "watchers_count" }}☆
                        {{- end -}}
                        {{ if gt (index . "forks") 0 -}}
                            {{ index . "forks" }}ᛘ
                        {{- end -}}
                    </li>
                {{- end -}}
            </ul>
            */}}

            <h1>Posts</h1>
        {{- end -}}
    {{- end -}}

    {{/* Render posts on this list, but paginate (so many posts) */}}
    <div class="post-list">
    {{- $last := add (len .Paginator.Pages) -1 -}}
    {{- range $i, $page := .Paginator.Pages -}}
    {{- with $page -}}
        <article class="li">
        	<header>
        		<h1 class="entry-title">
                    <a href="{{ .Permalink }}" class="clearfix">{{ .Title }}</a>
                </h1>

        		<div class="entry-meta">
                    {{- if .Date -}}
                    <span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>
                    <!--
                    <span class="entry-date" data-posted-on="{{ .Date.Format "2006-01-02" }}">
                        <span class="month">{{ .Date.Month }}</span>
                        <span class="day">{{ .Date.Day }}</span><span class="sep">, </span>
                        <span class="year">{{ .Date.Year }}</span>
                    </span>
                    -->
                    {{- end -}}
        		</div>
        	</header>
            <div class="entry-content">
                {{- if .Truncated -}}
                    {{- .Summary -}}
                    <p><a href="{{ .RelPermalink }}">read more...</a></p>
                {{- else -}}
                    {{- .Content -}}
                {{- end -}}
        	</div>

            {{/* Add the HR to all but the last element and the last one only if we have more than one page */}}
            {{- if or (not (eq $i $last)) (gt $.Paginator.TotalPages 1) }}<hr />{{ end -}}
        </article>
    {{- end -}}
    {{- end -}}
    </div>

    <nav id="pagination-navigation" role="navigation">
        {{- template "_internal/pagination.html" . -}}
    </nav>
{{- end -}}
