{{ define "title" }}
    {{- .Title }} – {{ .Site.Title -}}
{{ end }}

{{- define "main" -}}
<article data-pagefind-body>
	<header>
		<h1 class="entry-title" data-pagefind-meta="title">
            {{- .Title -}}
            {{- partial "series.html" . -}}
        </h1>

        <div class="entry-meta">
            {{- if not .Date.IsZero -}}
            <span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>
            <!--
            <span class="entry-date" data-posted-on="{{ .Date.Format "2006-01-02" }}">
                <span class="month">{{ .Date.Month }}</span>
                <span class="day">{{ .Date.Day }}</span><span class="sep">, </span>
                <span class="year">{{ .Date.Year }}</span>
            </span>
            -->
            {{- end -}}
        </div>

        <div class="entry-taxonomies">
            {{- partial "taxonomy-list.html" . -}}
        </div>
    </header>

	<div class="entry-content">
        {{- if isset .Params "cover" -}}
        <figure class="cover-image">
            <img src="{{ .Params.cover }}">
        </figure>
        {{- end -}}

        {{- .Content -}}
	</div>
</article>
{{- end -}}
