{{ define "title" }}
    {{- .Title }} – {{ .Site.Title -}}
{{ end }}

{{- define "main" -}}
<article>
	<header>
		<h1 class="entry-title">
            {{- .Title -}}
            {{- if index .Params "reviews/series" -}}
                {{- range $series := index .Params "reviews/series" -}}  
                    {{- if index $.Site.Data.goodreads.series $series -}}        
                        {{- range $index, $book := index (index $.Site.Data.goodreads.series $series) "books" -}}
                            {{- if (eq $book $.Page.Title) }}
                                (<a class="taxonomy-value" href="/reviews/series/{{ $series | urlize }}">{{ $series }} #{{ $index }}</a>)
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
        {{- end -}}

        </h1>

        <div class="entry-meta">
            {{- if not .Date.IsZero -}}
            <span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>
            <!--
            <span class="entry-date" data-posted-on="{{ .Date.Format "2006-01-02" }}">
                <span class="month">{{ .Date.Month }}</span>
                <span class="day">{{ .Date.Day }}</span><span class="sep">, </span>
                <span class="year">{{ .Date.Year }}</span>
            </span>
            -->
            {{- end -}}
        </div>

        <div class="entry-taxonomies">
            {{- partial "taxonomy-list.html" . -}}
        </div>
    </header>

	<div class="entry-content">
        {{- .Content -}}
	</div>

    {{- partial "disqus.html" . -}}
</article>
{{- end -}}
