.bingo {
    border-collapse: collapse;
    border-spacing: 0;
}

.bingo th,
.bingo td {
    padding: 1em;
    width: 20%;
}

.bingo p {
    margin: 0 0 0.25em 0;
    padding: 0;
}

.bingo figcaption {
    margin-top: 0.5em;
}

.bingo,
.bingo td,
.bingo td * {
    vertical-align: top;
}
.bingo img {
    width: 130px;
    height: 194px;
    image-rendering: smooth;
    border: 1px solid black;
    border-radius: 3px;
}
.bingo td.covers-only {
    border: 0;
    margin: 0;
    padding: 0;
}

.bingo td.covers-only p,
.bingo td.covers-only hr,
.bingo td.covers-only figcaption,
.bingo td.covers-only div {
    display: none;
}
.bingo img {
    border: 3px solid black;
}

.bingo .hard-mode img {
    border: 3px solid silver;
}