.bingo {
    border-collapse: collapse;
    border-spacing: 0;
}

.bingo th,
.bingo td {
    padding: 1em;
    width: 20%;
}

.bingo p {
    margin: 0;
    padding: 0;
}

.bingo figcaption {
    margin-top: 0.5em;
}

.bingo,
.bingo td,
.bingo td * {
    vertical-align: top;
}
.bingo img {
    width: 130px;
    height: 194px;
    image-rendering: smooth;
}