body {
    font-family: 'Lato', sans-serif;
}

.ribbon a,
.entry-tags a,
#page-header-links a {
    font-family: 'Spectral SC', sans-serif;
}

#page-content .entry-tags .taxonomy-keys li .taxonomy-values {
    display: none;
}

#page-content .entry-tags .taxonomy-keys li:hover .taxonomy-values {
    display: block;
}
article .entry-title,
article .entry-subtitle,
#page-header h1 a {
    font-family: 'Spectral SC', sans-serif;
}

article .entry-subtitle {
    font-size: large;
}

pre * {
    font-family: 'Share Tech Mono', monospace;
}