.series-index::before {
    content: " ["
}

.series-index::after {
    content: "]"
}

.series-index {
    vertical-align: top;
    font-size: 60%;
}

.series-index .series {
    display: none;
}

.series-index:hover .series {
    display: inline;
}