{{ define "main" }}
    <header>    
		<h1 class="entry-title">
            Reviews by release year 
        </h1>
    </header>

    {{- if .Content -}}
    <div class="entry-content">
        {{- .Content -}}
    </div>
    {{- end -}}

    <article class="li">
    	<div class="entry-content">
            <ul>
            {{- range (sort .Pages "Title") -}}
            <li>
                    <a href="{{ .Permalink }}" class="clearfix">{{ .Title }}</a>
                    <span>
                        {{- if eq (len .Data.Pages) 1 -}}
                            1 post
                        {{- else -}}
                            {{ len .Data.Pages }} posts
                        {{- end -}}
                        {{- if .Date -}}
                            , most recent: <span>{{ .Date.Format "2006-01-02" }}</span>
                        {{- end -}}
                    </span>
            </li>
            {{- end -}}        
            </ul>
        </div>
    </article>
{{ end }}
