{{ define "main" }}
    <h1 class="entry-title">
        Reviews by director: {{ .Title -}}       
    </h1>

    <div class="entry-content">
        {{- .Content -}}
    </div>

    {{/* partial "taxonomy-list.html" . */}}

    <div class="cover-list">        
        {{- range $i, $page := .Pages.ByTitle -}}
            {{- if isset .Params "cover" -}}
            <figure class="cover-image">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.cover }}" />
                </a>
            </figure>
            {{- end -}}
        {{- end -}}
    </div>

    <ul>
        {{- range .Pages.ByTitle -}}
        {{- $page := . -}}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>{{- partial "series.html" . -}}
        </li>
        {{- end -}}
    </ul>
{{- end -}}
