{{- $title := .Get 0 -}}
{{- $slug := replace ($title | urlize) "-" " " }}
{{- $data := index $.Site.Data.bingo $title -}}
{{- $version := index $data "version" -}}

{{- if eq $version 1 -}}
    {{- $data := index $data "data" -}}
    {{- /* force rebuild nonce: 1 */ -}}

    <h1>{{ $title }}</h1>
    <button class="bingo-toggle">Toggle Display Mode</button>

    <table class="bingo">
        {{- range $row := seq 0 4 -}}
        <tr>
            {{- range $col := seq 0 4 -}}
            <td>
                {{- $index := (printf "%dx%d" (add 1 $row) (add 1 $col) )}}
                {{- $indexHard := (printf "%dx%d+" (add 1 $row) (add 1 $col) )}}
                {{- $title := index $data $row $col }}

                {{- range $page := index $.Site.Taxonomies "bingo" $slug -}}
                {{- $squares := index $page.Params "bingo-data" (replace $slug "-" " ") -}}
                {{- if (or (in $squares $index) (in $squares $indexHard)) -}}
                <a href="{{ $page.Permalink }}">
                    <figure class="
                        {{- if in $squares $indexHard -}}hard-mode{{- end -}}
                        ">
                        {{ if isset .Params "cover" }}
                        <img src="{{ .Params.cover }}">
                        {{ else }}
                        {{ safeHTML (index (findRE "(?m:<img.*?>)" .Content 1) 0) }}
                        {{ end }} 
                            <figcaption>
                                {{ .Title }}
                            </figcaption>
                    </figure>
                </a>
                {{- with index .Params "reviews/authors" -}}
                <p>
                    {{- $last := sub (len .) 1 -}}
                    {{- if gt (len .) 3 -}}
                        (anthology)
                    {{- else -}}
                        by {{ range $i, $e := . }}
                            <a href="/reviews/authors/{{- $e | urlize -}}">{{- $e -}}</a>
                            {{- if (lt $i $last) -}}, {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </p>
                {{- end -}}
                {{- if in $squares $indexHard -}}<hr><p>Hard Mode ✓</p>{{- end -}}
                <hr>
                {{- end -}}
                {{- end -}}
                <p>{{ $title | markdownify }}</p>
            </td>
            {{- end -}}
        </tr>
        {{- end -}}
    </table>
{{- else if eq $version 2 -}}
    {{- $data := index $data "data" -}}
    {{- /* force rebuild nonce: 1 */ -}}

    <h1>{{ $title }}</h1>
    <button class="bingo-toggle">Toggle Display Mode</button>

    <table class="bingo">
        {{- range $row := seq 0 4 -}}
        <tr>
            {{- range $col := seq 0 4 -}}
            <td>
                {{- $index := (printf "%dx%d" (add 1 $row) (add 1 $col) )}}
                {{- $indexHard := (printf "%dx%d+" (add 1 $row) (add 1 $col) )}}
                {{- $squareData := index $data (add (mul 5 $row) $col) }}

                {{- range $page := index $.Site.Taxonomies "bingo" $slug -}}
                {{- $squares := index $page.Params "bingo-data" (replace $slug "-" " ") -}}

                {{- /* Covers for included books */ -}}
                {{- if (or (in $squares $index) (in $squares $indexHard)) -}}
                <a href="{{ $page.Permalink }}">
                    <figure class="
                        {{- if in $squares $indexHard -}}hard-mode{{- end -}}
                        ">
                        {{ if isset .Params "cover" }}
                        <img src="{{ .Params.cover }}">
                        {{ else }}
                        {{ safeHTML (index (findRE "(?m:<img.*?>)" .Content 1) 0) }}
                        {{ end }} 
                            <figcaption>
                                {{ .Title }}
                            </figcaption>
                    </figure>
                </a>

                {{- /* Author links */ -}}
                {{- with index .Params "reviews/authors" -}}
                <p>
                    {{- if gt (len .) 3 -}}
                        (anthology)
                    {{- else -}}
                        {{- $last := sub (len .) 1 -}}
                        by {{ range $i, $e := . }}
                            <a href="/reviews/authors/{{- $e | urlize -}}">{{- $e -}}</a>
                            {{- if (lt $i $last) -}}, {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </p>
                {{- end -}}
                {{- if in $squares $indexHard -}}<p>Hard Mode ✓</p>{{- end -}}
                <hr>
                {{- end -}}
                {{- end -}}

                {{- /* The bingo square data */ -}}
                <div class="tooltip">
                    {{ index $squareData "title" | markdownify }}
                    <div class="tooltiptext">
                        <p>{{ index $squareData "summary" | markdownify }}</p>
                        <p>Hard Mode: {{ index $squareData "hard_mode" | markdownify }}</p>
                    </div>
                </div>
            </td>
            {{- end -}}
        </tr>
        {{- end -}}
    </table>
    <br />
{{- else -}}
{{- errorf "Unknown bingo data version" -}}
{{- end -}}