{{- $list := default (.Get "title") (.Get 0) -}}
{{- $shortMode := default (.Get "short") false -}}
{{- $slug := $list | urlize }}
{{- $scratch := .Scratch }}

{{- $taxonomy := default (index .Site.Taxonomies "reviews/lists" $slug) (index .Site.Taxonomies "reviews/series" $slug) }}
{{- $rankings := index $.Site.Data.rankings $list "ranking" -}}

{{/* 
- Go through all other pages in this list
- If it's earlier (or equal to) this page, store it with it's index in the ranking
- Sort by these rankings
*/}}
{{- range $otherPage := (index $taxonomy) -}}
    {{- range $index, $title := $rankings -}}
        {{- if eq $otherPage.Title $title -}}
            {{- if (le $otherPage.Date $.Page.Date) -}}
                {{- $scratch.SetInMap "shortList" (printf "%08d" $index) $otherPage -}}
            {{- end -}}

            {{- $scratch.SetInMap "fullList" (printf "%08d" $index) $otherPage -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $listData := cond $shortMode (.Scratch.Get "shortList") (.Scratch.Get "fullList") }}

<div class="ranking">
    <h3 class="title">Ranked: {{ $list }}</h3>
    {{- if (not $shortMode) -}}
    <p>
        Show:
        <a href="#" data-ranked-show="current">[current]</a>
        <a href="#" data-ranked-show="all">[all]</a>
    </p>
    {{- end -}}
    <div class="content">
        <ol>
        {{- if $listData -}}
            {{- range ($listData | sort) -}}
                {{- if eq . $.Page -}}
                <li>{{ .Title }}</li>
                {{- else -}}
                <li {{ if (le $.Page.Date .Date) }} data-future-ranking="true"{{ end }}><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{- end -}}
            {{- end -}}
        {{- else -}}
            <li>No list available...</li>
        {{- end -}}
        </ol>
    </div>
</div>