<div class="ranking">
    <h3 class="title">Posts in <a href="/{{ .Get 0 | urlize }}/{{ .Get 1 | urlize }}/">{{ .Get 1 }}</a>:</h3>
    <div class="content">
        <ul>
        {{- $targetKey := .Get 1 | urlize }}
        {{- $data := slice -}}
        {{ range $key, $pages := (index (index $.Site.Taxonomies (.Get 0))) }}
            {{- if eq ($key | urlize) $targetKey -}}
                {{- $data = $pages -}}
            {{- end -}}
        {{- end -}}
        {{- range $page := $data.Pages.ByDate -}}
            <li>
                <a href="{{ $page.Permalink }}">
                    {{ $page.Title }}
                </a>
                {{- partial "series.html" $page -}}
            </li>
        {{- end -}}
        </ul>
    </div>
</div>
