<header id="page-header" role="banner">
    <h1><a href="/">JP's Blog</a></h1>

    <ul id="page-header-links">
        <li>
            <a href="https://twitter.com/jpverkamp">Twitter</a> *
            <a href="https://github.com/jpverkamp">GitHub</a> *
            <a href="https://www.flickr.com/photos/jpverkamp">Flickr</a>
        </li>
        <li>
            <form action="//www.google.com/search" method="get" onsubmit="(function(obj){obj.q.value='site:blog.jverkamp.com '+obj.qfront.value;})(this)" class="navbar-form navbar-right" role="search" _lpchecked="1">
                <div class="form-group">
                    <input name="q" type="hidden">
                    <input name="qfront" type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default" value="Search">Search</button>
                </div>
            </form>
        </li>

    </ul>

    <nav id="header-navigation" role="navigation" class="ribbon">
        <ul class="main-navigation">
        {{- range .Site.Sections -}}
            {{- if not (eq .Title "Other") -}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{- end -}}
        {{- end -}}
            <li><a href="/resume" title="My Resume">Resume</a></li>
            <li class="subscription" data-subscription="rss"><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
        </ul>
    </nav>
</header>
