{{- $remoteStyles := slice 
    "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.css"
    "https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot-default.css"
    "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    "https://fonts.googleapis.com/css?family=Spectral+SC|Lato|Share+Tech+Mono"
-}}

{{- range $style := $remoteStyles -}}
    {{- $resource := resources.GetRemote $style | minify | fingerprint }}
    <!-- <link rel="stylesheet" href="{{ $resource.RelPermalink }}" integrity="{{ $resource.Data.Integrity }}" /> -->
    <link rel="stylesheet" href="{{ $resource.RelPermalink }}" />
{{- end }}

{{- $localResources := resources.Match "css/**.css" | resources.Concat "main.css" | minify | fingerprint }}
<!-- <link rel="stylesheet" href="{{ $localResources.RelPermalink }}" integrity="{{ $localResources.Data.Integrity }}" /> -->
<link rel="stylesheet" href="{{ $localResources.RelPermalink }}" />
