{{- $remoteScripts := slice 
    "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"
    "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"
    "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.js"
    "https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/contrib/auto-render.js"
    "https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.js"
    "https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.js"
-}}

{{- range $script := $remoteScripts -}}
    {{- $resource := resources.GetRemote $script | minify | fingerprint }}
    <script src="{{ $resource.RelPermalink }}" integrity="{{ $resource.Data.Integrity }}" defer></script>
    <!-- <script src="{{ $resource.RelPermalink }}" defer></script> -->
{{- end }}


{{- $localResources := resources.Match "js/**.js" | resources.Concat "main.js" | minify | fingerprint }}
<script src="{{ $localResources.RelPermalink }}" integrity="{{ $localResources.Data.Integrity }}" defer></script>
<!-- <script src="{{ $localResources.RelPermalink }}" defer></script> -->
