{{ define "main" }}

<h2>Recent posts</h2>
<div class="post-list">
    {{- range first 20 .Site.RegularPages -}}
        {{- partial "post-card.html" . -}}
    {{- end -}}
</div>

<hr />

<h2>Recent posts by category</h2>

Click a category to see all posts in that category, or click the RSS icon to subscribe to that category's RSS feed.

{{- range $index, $section := .Site.Sections -}}
{{- with $section -}}
    {{- if and (ne .Title "Othe2r") (ne .Title "search") -}}
        <h3>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <sup>
                <a href="/{{ .Title | urlize }}/atom.xml">
                    {{- partial "rss-icon.html" (dict "size" 8 "color" "green") }}
                </a>
            </sup>
        </h3>

        <section>
        {{ .Content }}
        </section>

        <ul>
            {{- range first 10 .Pages -}}
            <li>
                {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>{{ partial "series.html" . }}
            </li>
            {{- end -}}
        </ul>
    {{- end -}}
{{- end -}}
{{- end -}}
{{ end }}