{{ define "title" }}
    {{- if .Data.Singular -}}
        {{- replace .Data.Singular "/" ", " | title }}:
    {{ end -}}
    {{- .Title }} - {{ .Site.Title -}}
{{ end }}

{{ define "main" }}
    <h1 class="entry-title" data-pagefind-meta="title">
        {{- if .Data.Singular -}}
            {{- replace .Data.Singular "/" ", " | title }}:
        {{ end -}}
        {{- .Title }}
        {{- partial "series.html" . -}}
    </h1>

    <div class="entry-content">
        {{- .Content -}}
    </div>
    {{- if .Content -}}
    <hr>
    {{- end -}}

    {{- $p := .Paginator -}}
    <h2>Recent posts{{ if gt $p.TotalPages 1 }} (Page {{ $p.PageNumber }} of {{ $p.TotalPages }}){{ end }}</h2>
    <div class="post-list">
    {{- range .Paginator.Pages -}}
        {{- partial "post-card.html" . -}}
    {{- end -}}
    </div>

    <nav id="pagination-navigation" role="navigation">
        {{- template "_internal/pagination.html" . -}}
    </nav>

    <hr>

    <h2>All posts</h2>
    <ul>
        {{- range .Pages -}}
        <li>
            {{- if not .Date.IsZero }}<span class="entry-date">{{ .Date.Format "2006-01-02" }}</span>:{{ end }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>{{ partial
          "series.html" . }}
        </li>
        {{- end -}}
    </ul>
{{- end -}}
