{{ define "title" }}
    {{- if .Data.Plural -}}
        {{- replace .Data.Plural "/" ", " | title }}
    {{ else }}
        {{- .Title }}
    {{ end -}} - {{ .Site.Title -}}
{{ end }}

{{ define "main" }}
    <div class="entry-content">
        {{- .Content -}}
    </div>
    
    <h1 class="entry-title" data-pagefind-meta="title">
        {{- if .Data.Plural -}}
            {{- replace .Data.Plural "/" ", " | title }}
        {{ else }}
            {{- .Title }}
        {{ end -}}
        {{- partial "series.html" . -}}
    </h1>
    <article class="li">
    	<div class="entry-content">
            <table>
                <tr>
                    <th></th>
                    <th>Posts</th>
                    <th>Most recent</th>
                </tr>
                {{- range (sort .Pages "Title") -}}
                <tr>
                    <td><a href="{{ .Permalink }}" class="clearfix">{{ .Title }}</a></td>
                    <td>{{ len .Data.Pages }}</td>
                    <td>{{- if .Date -}}{{ .Date.Format "2006-01-02" }}{{- end -}}</td>
                </tr>
                {{- end -}}        
            </table>
        </div>
    </article>
{{ end }}