{{-
if (and (strings.HasPrefix .PlainText "[todo:")
        (strings.HasSuffix .PlainText "]")
        (eq .Destination ""))
-}}
    {{- /*
        Future Crosslinks:
            [[todo:Title]]() 
            [[todo:Title|Text]]()

        Render text if the link *doesn't* exist; if it does, error.
    */ -}}


    {{- if gt (strings.Count .PlainText "|") 1 -}}
    {{ errorf "Markdown crosslink error in %s, multiple | in %s" .Page.File.Path .PlainText }}
    {{- end -}}

    {{- $fixedText := substr .PlainText 6 -1 -}} 
    {{- $fixedText = (replace $fixedText "&lsquo;" "'") -}}
    {{- $fixedText = (replace $fixedText "&rsquo;" "'") -}}

    {{- $parts := split $fixedText "|"  -}}
    {{- $title := index $parts 0 -}}
    {{- $text := index $parts (sub (len $parts) 1) -}}

    {{- range $page := .Page.Site.AllPages -}}
        {{- if (eq $page.Title $title) -}}
        {{ errorf "TODO crosslink now exists for title: %s (text: %s)" $title $text }}
        {{- end -}}
    {{- end -}}
    
    {{ $text }}
{{-
else if (and (strings.HasPrefix .PlainText "[")
        (strings.HasSuffix .PlainText "]")
        (eq .Destination ""))
-}}
    {{- /*
        Crosslinks:
            [[Title]]() 
            [[Title|Text]]()

        Wikipedia links:
            [[wiki:Title]]()
            [[wiki:Title|Text]]()
    */ -}}

    {{- if gt (strings.Count .PlainText "|") 1 -}}
    {{ errorf "Markdown crosslink error in %s, multiple | in %s" .Page.File.Path .PlainText }}
    {{- end -}}

    {{- $scratch := newScratch -}}

    {{- $fixedText := substr .PlainText 1 -1 -}}
    {{- $fixedText = (replace $fixedText "&lsquo;" "'") -}}
    {{- $fixedText = (replace $fixedText "&rsquo;" "'") -}}

    {{- $parts := split $fixedText "|"  -}}
    {{- $title := index $parts 0 -}}
    {{- $text := index $parts (sub (len $parts) 1) -}}

    {{- $scratch.Set "crosslink-url" false -}}

    {{- if strings.HasPrefix $title "wiki:" -}}
        {{- $title = substr $title 5 -}}
        {{- if strings.HasPrefix $text "wiki:" -}}{{- $text = substr $text 5 -}}{{- end -}}
        {{- $scratch.Set "crosslink-url" (printf "https://en.wikipedia.org/wiki/%s" $title) -}}
    {{- end -}}

    {{- $title = (replace $title "&lsquo;" "'") -}}
    {{- $title = (replace $title "&rsquo;" "'") -}}
    {{- $title = (replace $title "‘" "'") -}}
    {{- $title = (replace $title "’" "'") -}}

    {{- range $page := .Page.Site.AllPages -}}
        {{- $pageTitle := (replace $page.Title "&lsquo;" "'") -}}
        {{- $pageTitle = (replace $pageTitle "&rsquo;" "'") -}}
        {{- $pageTitle = (replace $pageTitle "‘" "'") -}}
        {{- $pageTitle = (replace $pageTitle "’" "'") -}}

        {{- if (and (not ($scratch.Get "crosslink-url")) (eq $pageTitle $title)) -}}
            {{- $scratch.Set "crosslink-url" $page.Permalink -}}
        {{- end -}}
    {{- end -}}

    {{- if $scratch.Get "crosslink-url" -}}
        <a href="{{ $scratch.Get "crosslink-url" }}">{{ $text }}</a>
    {{- else -}}
        {{ errorf "Markdown crosslink error in %s, for title: %s, text: %s" .Page.File.Path $title $text }}
    {{- end -}}

{{- else -}}
    <a href="{{ .Destination }}"{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>
{{- end -}}