@media print {

    #page-header,
    #page-footer {
        display: none !important;
    }

    #page-content-wrapper {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
    }

    hr {
        display: none !important;
    }
}