<!-- more -->
{{- if .Get "set" -}}
    {{- $photoset := index $.Site.Data.flickr.sets (.Get "set") -}}
    {{- $photos := $photoset.photos -}}
    {{- $photoCount := $photos | len -}}
    {{- $columnCount := default 4 ($.Get "columns") -}}
    {{- $columnSize := int (math.Ceil (div (mul 1.0 $photoCount) $columnCount)) }}
    {{- $firstColumnExtras := sub $photoCount (mul $columnCount $columnSize) -}}
    {{- $orderRowMajor := default false ($.Get "rowMajor") }}

    <div class="imageGallery">
        {{- range $columnIndex := seq 0 (sub $columnCount 1) -}}
            <div class="column">
            {{- range $rowIndex := seq 0 (sub $columnSize 1) -}}
                {{- $imageIndex := cond $orderRowMajor (add $columnIndex (mul $rowIndex $columnCount)) (add $rowIndex (mul $columnIndex $columnSize)) -}}
                {{- if (lt $imageIndex $photoCount) -}}
                    {{- $photo := index $photos $imageIndex -}}
                    <figure>
                        <a data-fancybox="gallery" data-fancybox-index="{{ $imageIndex }}" data-caption="{{ default $photo.title $photo.description }}" data-flickr="{{ $photo.page }}" href="{{ $photo.thumbnails.large }}">
                            <img class="img-rounded" src="{{ $photo.thumbnails.small }}" />
                        </a>
                        <!--
                        <figcaption>
                            {{- $photo.title -}}
                        </figcaption>
                        -->
                    </figure>
                {{- end -}}
            {{- end -}}
            </div>
        {{- end -}}
    </div>
    <div class="viewOnFlicker">
        <a href="https://flickr.com/photos/jpverkamp/sets/{{ .Get "set" }}">View on Flickr</a>
    </div>
{{- else if .Get "image" -}}
    {{/* This won't work for any photos not in a photoset, but that's not how I organize images so (shrug) */}}
    {{- $.Scratch.Set "found-image" false -}}
    {{- range $photosetId, $photoset := $.Site.Data.flickr -}}
        {{- range $photo := $photoset.photos -}}
            {{- if and (eq $photo.id ($.Get "image")) (not ($.Scratch.Get "found-image")) -}}
                {{- $.Scratch.Set "found-image" true -}}
                <figure>
                    <a href="{{ $photo.page }}">
                        <img src="{{ $photo.url }}" alt="{{ $photo.title }}" />
                    </a>
                    <figcaption>
                        <strong>{{ $photo.title }}</strong> - <a href="{{ $photo.page }}">View on Flickr</a>
                    </figcaption>
                </figure>
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if not ($.Scratch.Get "found-image") -}}
        WARNING IMAGE {{ .Get "image" }} COULD NOT BE FOUND
    {{- end -}}
{{ else }}
WARNING UNKNOWN FLICKR TYPE
{{- end -}}
