<!-- more -->
{{- if .Get "set" -}}
    {{- $photoset := index $.Site.Data.flickr.sets (.Get "set") -}}
    {{- $photos := $photoset.photos -}}

    <div class="imageGallery2">
        {{ range $index, $photoID := $photos }}
            {{ $photo := index $.Site.Data.flickr.photos $photoID }}
            <a data-fancybox="gallery" data-fancybox-index="{{ $index }}" data-caption="{{ default $photo.title $photo.description }}" data-flickr="{{ $photo.page }}" href="{{ $photo.thumbnails.large }}">
                <img class="img-rounded" src="{{ $photo.thumbnails.small }}" />
            </a>
        {{ end }}
    </div>

    <div class="viewOnFlicker">
        <a href="https://flickr.com/photos/jpverkamp/sets/{{ .Get "set" }}">View on Flickr</a>
    </div>
{{- else if .Get "image" -}}
    {{- $photo := index $.Site.Data.flickr.photos (.Get "image") -}}
    <figure>
        <a href="{{ $photo.page }}">
            <img src="{{ $photo.url }}" alt="{{ $photo.title }}" />
        </a>
        <figcaption>
            <strong>{{ $photo.title }}</strong> - <a href="{{ $photo.page }}">View on Flickr</a>
        </figcaption>
    </figure>
{{ else }}
WARNING UNKNOWN FLICKR TYPE
{{- end -}}
